# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

node_modules/
www/build/
platforms/
plugins/
*.swp
.DS_Store
Thumbs.db
coverage
hooks
package.json.ORIG

# the typings which are automatically installed for us via
# ./bin/install_typings.sh

typings/browser/ambient/angular-protractor/
typings/browser/ambient/bluebird/
typings/browser/ambient/chalk/
typings/browser/ambient/del/
typings/browser/ambient/es6-shim/
typings/browser/ambient/express-serve-static-core/
typings/browser/ambient/express/
typings/browser/ambient/glob/
typings/browser/ambient/gulp-load-plugins/
typings/browser/ambient/gulp-typescript/
typings/browser/ambient/gulp-util/
typings/browser/ambient/gulp/
typings/browser/ambient/jasmine/
typings/browser/ambient/karma/
typings/browser/ambient/log4js/
typings/browser/ambient/mime/
typings/browser/ambient/minimatch/
typings/browser/ambient/node/
typings/browser/ambient/orchestrator/
typings/browser/ambient/q/
typings/browser/ambient/run-sequence/
typings/browser/ambient/selenium-webdriver/
typings/browser/ambient/serve-static/
typings/browser/ambient/through2/
typings/browser/ambient/vinyl/
typings/main/ambient/angular-protractor/
typings/main/ambient/bluebird/
typings/main/ambient/chalk/
typings/main/ambient/del/
typings/main/ambient/es6-shim/
typings/main/ambient/express-serve-static-core/
typings/main/ambient/express/
typings/main/ambient/glob/
typings/main/ambient/gulp-load-plugins/
typings/main/ambient/gulp-typescript/
typings/main/ambient/gulp-util/
typings/main/ambient/gulp/
typings/main/ambient/jasmine/
typings/main/ambient/karma/
typings/main/ambient/log4js/
typings/main/ambient/mime/
typings/main/ambient/minimatch/
typings/main/ambient/node/
typings/main/ambient/orchestrator/
typings/main/ambient/q/
typings/main/ambient/run-sequence/
typings/main/ambient/selenium-webdriver/
typings/main/ambient/serve-static/
typings/main/ambient/through2/
typings/main/ambient/vinyl/
