# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

#
# files
#
*.ORIG
*.bak
*.log
*.map
*.tmp
*.tmp.*
*~
.sass-cache/
.travis/travis_rsa.pem
.versions/
log.txt
Thumbs.db

#
# directories
#
coverage/
dist/
hooks/
node_modules/
platforms/
plugins/
temp/
tmp/
typings/
www/build/
