// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

// color constants
$color-dark: #000;
$color-almost-dark: #222;
$color-darkest-gray: #333;
$color-dark-gray: #666;
$color-medium-gray: #7f7f7f;
$color-light-gray: #999;
$color-lightest-gray: #ccc;
$color-light: #f4f4f4;
$color-logo-red: #b92025;
$color-logo-orange: #f27321;

// color scheme
$colors: (
  primary: (
    base: $color-dark-gray,
    contrast: $color-light
  ),

  dark: (
    base: $color-dark,
    contrast: $color-light
  ),

  button-on-dark-bg: (
    base: $color-almost-dark,
    contrast: $color-lightest-gray
  ),

  almost-dark: $color-almost-dark,
  darkest-gray: $color-darkest-gray,
  dark-gray: $color-dark-gray,
  medium-gray: $color-medium-gray,
  light-gray: $color-light-gray,
  lightest-gray: $color-lightest-gray,
  light: $color-light,

  logo-red: $color-logo-red,
  logo-orange: $color-logo-orange
);
