<div class="progress-slider-container"
     (touchstart)="onSliderTouchStart($event)"
     (touchmove)="onSliderTouchMove($event)"
     (touchend)="onSliderTouchEnd($event)"
     (mousedown)="onSliderMouseDown($event)">
    <div class="track">
        <div class="track-inner-left" [style.width]="positionPercent()"></div>
        <div class="track-inner-right" [style.left]="positionPercent()" [style.width]="remainingPercent()"></div>
        <div class="track-inner-full">
            <div class="handle" [style.left]="positionPercent()"></div>
        </div>
    </div>
</div>
