
ion-row.audio-player {
    background: map-get($colors , almost-dark);
    color: map-get($colors, light);

    padding-top: 0;
    padding-bottom: 0;

    // add a dark line to separate the player
    // border-bottom: 1px solid map-get($colors, dark);
    ion-col ion-row span.time {
        padding-right: 0.5em;
        padding-left: 0;
    }
    ion-col ion-row span.duration {
        padding-left: 0.5em;
        padding-right: 0;
    }

    ion-col {
        padding: 0;
        ion-row {
            padding: 0;
        }
    }
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    // the background color here does not affect anything
    // on android but on iOs it is the color of the right hand side of
    // the progress bar - the time left part.
    background: map-get($colors, light-gray);
    border-radius: 2px;
    border: 0;
}

progress[value]::-webkit-progress-bar {
    background-color: map-get($colors, medium-gray);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    // border around entire progress bar in webkit
    border: 1px solid map-get($colors, dark-gray);
}

// moz-progress-bar is -webkit-progress-value...
progress[value]::-moz-progress-bar {
    // sets only the left hand side part of the progress
    // bar color
    background-color: map-get($colors, logo-red);
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    // border around entire progress bar in Firefox
    border: 1px solid map-get($colors, dark-gray);
}

progress[value]::-webkit-progress-value{
    background-color: map-get($colors, logo-red); 
    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
