<ion-navbar *navbar dark>
    <ion-buttons end *ngIf="showSkipButton">
        <button (click)="skipIntro()" primary>Skip Intro</button>
    </ion-buttons>
</ion-navbar>

<ion-content padding>
    <ion-slides pager (slideChangeStart)="onSlideChangeStart($event)">
        <ion-slide class="first-slide">
            <h2 class="slide-title">
                Using the Record Page
            </h2>
            <p>
                The volume indicator (1) continuously monitors your microphone's' volume.
                In it, the thin white 
                rectangule (2) shows the max-volume thus far.
                Hit the record button (3) to start, pause or resume recording. 
                Hit (4) to stop, at which point the recorded file gets saved
                in your library's Unfiled folder whose 
                filename is the current time.
            </p>
            <img src="img/record_page_sml.png" />
        </ion-slide>
        <ion-slide class="first-slide">
            <h2 class="slide-title">
                Record Page (Cont'd)
            </h2>
            <p>
                To navigate to the
                library page use the side menu (5). The top right (6) shows
                the percentage of all volume peaks that have
                reached the max-volume - click on it to reset peak volume stats.
            </p>
            <img src="img/record_page_sml.png" />
        </ion-slide>
        <!--ion-slide *ngFor="#slide of slides">
            <img [src]="slide.image" class="slide-image" />
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
        </ion-slide-->
        <ion-slide>
            <a href="https://tracktunes.org">
                <img src="img/tracktunes-logo.svg" class="slide-image" />
            </a>
            <h2 class="slide-title">Ready to Record?</h2>
            <button large clear (click)="skipIntro()">
                Continue
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>