<ion-navbar *navbar dark>
    <ion-buttons end *ngIf="showSkipButton">
        <button (click)="skipIntro()" primary>Skip Intro</button>
    </ion-buttons>
</ion-navbar>

<ion-content padding>
    <ion-slides pager (slideChangeStart)="onSlideChangeStart($event)">
        <!--ion-slide>
            <a href="https://tracktunes.org">
                <img [src]="img/tracktunes-logo-text_sml-tm-w.svg" class="slide-image" />
            </a>
            <h2 class="slide-title">Ionic Recorder app></h2>
            <p>The</p>
        </ion-slide>
        <ion-slide *ngFor="#slide of slides">
            <a href="https://tracktunes.org">
                <img [src]="slide.image" class="slide-image" />
            </a>
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
        </ion-slide-->
        <ion-slide>
            <a href="https://tracktunes.org">
                <img src="img/tracktunes-logo.svg" class="slide-image" />
            </a>
            <h2 class="slide-title">Ready to Record?</h2>
            <button large clear (click)="skipIntro()">
                Continue
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
        <ion-slide>
            <a href="https://tracktunes.org">
                <img src="img/tracktunes-logo.svg" class="slide-image" />
            </a>
            <h2 class="slide-title">Ready to Record?</h2>
            <button large clear (click)="skipIntro()">
                Continue
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>