<ion-navbar *navbar dark>
    <ion-buttons end *ngIf="showSkipButton">
        <button (click)="skipIntro()" primary>Skip Intro</button>
    </ion-buttons>
</ion-navbar>

<ion-content padding>
    <ion-slides pager (slideChangeStart)="onSlideChangeStart($event)">
        <ion-slide class="first-slide">
            <h2 class="slide-title">
                Using the Record Page
            </h2>
            <p>
                The record page continuously monitors the volume levels of
                your microphone.  The max volume is shown by the thin white 
                rectangle in the volume indicator. To start recording hit
                the red record button. The same button is used to pause a
                recording once it has started. To stop a recording and save
                it to a file, hit the stop button - an audio file is then
                automatically saved in your library's Unfiled folder under
                the filename of today's date and time. To navigate to the
                library page use the navigation side menu.
            </p>
            <img src="img/record_page_sml.png" />
        </ion-slide>
        <!--ion-slide *ngFor="#slide of slides">
            <img [src]="slide.image" class="slide-image" />
            <h2 class="slide-title" [innerHTML]="slide.title"></h2>
            <p [innerHTML]="slide.description"></p>
        </ion-slide-->
        <ion-slide>
            <a href="https://tracktunes.org">
                <img src="img/tracktunes-logo.svg" class="slide-image" />
            </a>
            <h2 class="slide-title">Ready to Record?</h2>
            <button large clear (click)="skipIntro()">
                Continue
                <ion-icon name="arrow-forward"></ion-icon>
            </button>
        </ion-slide>
    </ion-slides>
</ion-content>